#!/bin/bash
apt update
echo iptables-persistent iptables-persistent/autosave_v4 boolean true | sudo debconf-set-selections
echo iptables-persistent iptables-persistent/autosave_v6 boolean true | sudo debconf-set-selections
apt install iptables-persistent -y
iptables -A POSTROUTING -t nat -s ${vpc_cidr} -j MASQUERADE
iptables-save > /etc/iptables/rules.v4
bash -c 'echo "net.ipv4.ip_forward = 1" > /etc/sysctl.conf'
bash -c 'echo "1" > /proc/sys/net/ipv4/ip_forward'